#actions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-image: url("../../media/empty.jpg");
    border-radius: 10px;
}

#actions article {
    height: 120px;
    width: 90px;
    background-image: url("../../media/wood.jpg");
    background-size: cover;
    border-radius: 10px;
    border: 5px solid transparent;
}

#actions article h2 {
    margin: 5px;
    padding-top: 90px;
    background-image: url("../../media/icons/board/build.png");
    background-repeat: no-repeat;
    background-size: contain;

    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;

    -webkit-filter: drop-shadow(5px 5px 5px #e83328);
    filter:         drop-shadow(5px 5px 5px #e83328);
}

#actions.active article h2{
    -webkit-filter: drop-shadow(5px 5px 5px #61ab3a);
    filter:         drop-shadow(5px 5px 5px #61ab3a);
}