body {
    width: 100vw;
    height: 100vh;
    background-image: url("../media/textures/stone-wall-texture_1110-425.jpg");

}

div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 900px;
    height: calc(100% - 170px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 170px;
    background-image: url("../media/figures/castle-on-rock.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 10px;
}

div span a:hover {
    color: red;
    transition: 0.3s;
}


span {
    margin-bottom: 25px;
    padding-left: 125px;
    line-height: 1.5;
    font-size: 3rem;
    font-family: 'MedievalSharp', cursive;
}

span a, form label {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

form input[type=submit]{
    height: 80px;
    width: 80px;
    background-image: url("../media/icons/hammer.png");
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-color:transparent;
    border: none;
    cursor: pointer;
    transition:1s;
}

form input[type=submit]:focus{
    outline: none;
}

span.join {
    background-image: url("../media/icons/add.png");
    background-repeat: no-repeat;
    background-size: contain;
}