header img {
    width: 5%;
    margin-left: 2%;
    margin-top: 2%;
}

body {
    overflow: hidden;
}

section {
    height: 1080px;
}

div {
    width: 500px;
    margin-left: 750px;
    margin-top: 440px;
}

div h1 {
    margin-bottom: 40px;
}

div a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 4rem;
    padding-left: 60px;
}

.Castle {
    background-image: url("../../icons/cartoon-castle-vector-art.png");
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: center 10px;
}

.plus {
    background-image: url("../../icons/plus (1).png") ;
    background-repeat: no-repeat;
    background-size: 10%;
}

.join {
    background-image: url("../../icons/add.png");
    background-repeat: no-repeat;
    background-size: 10%;
}

h1 a:hover {
    color: red;
}