body {
    width: 100vw;
    height: 100vh;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 900px;
    height: calc(100% - 170px);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 170px;
    background-image: url("../media/figures/castle-on-rock.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center 10px;
}

div span a:hover {
    color: red;
}

span {
    margin-bottom: 25px;
    padding-left: 125px;
    line-height: 1.5;
    font-size: 3rem;
    font-family: 'MedievalSharp', cursive;
}

span a {
    text-decoration: none;
    color: black;

}

span.create {
    background-image: url("../media/icons/plus.png");
    background-repeat: no-repeat;
    background-size: contain;
}
span.join {
    background-image: url("../media/icons/add.png");
    background-repeat: no-repeat;
    background-size: contain;
}