/*-----------*/
/*Html tags*/
/*----------*/
body {
    width: 100vw;
    height: 100vh;
    font-family: 'MedievalSharp', cursive;
}

form {
    width: 900px;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 400px;
    font-size: 3rem;
    background-image: url("../media/icons/toweractive.png");
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center;
}

form input[type=text]{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    margin-left: 10px;
    text-align: center;
}

div {
    margin-top: 700px;
}

div.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
}

form input[type=submit]{
    height: 150px;
    width: 150px;
    margin: auto;
    background-image: url("../media/icons/hammer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

form input[type=submit]:focus{
    outline: none;
}