/***************************index****************************/

form {
    margin-left: 750px;
    background-image: url("../../icons/alhambraIconLogin.png");

}


.username {
    display: block;
    margin-bottom: 20px;
    background-image: url("../../icons/user.png");
}

.button {
    margin-left: 200px;
}